<html>
    <head>
        <title>Wine Quality</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
            <div  style="background-image:url(/static/background-cement-concrete-242236.jpg);background-size: cover;" >
        {% include 'includes/_navbar.html'%}
       
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        
    </body>
</html>